node_modules/
dist/
coverage/
*.local
*.log

.env
.env.*
!.env.example

[Ll]ogin
[Ll]ogin.*

.supabase/
supabase/.temp/
supabase/.branches/

.DS_Store
Thumbs.db
.vscode/
.idea/

# Caches e Ambientes Locais
.cache/
.venv/
*.tmp
