# ==============================================================================
# Configuração de Cache Local do Projeto - Drive D:
# ==============================================================================
# Define que instalações do npm neste projeto salvem o cache localmente no Drive D:
cache=D:/.cache/npm
